@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root{
    --backgroundColor: rgba(246, 241, 209);
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}


body{
    overflow-x: hidden;
    background: #ECECEC !important; 
}


/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: cornsilk;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#navbar{
    position: fixed;
    background-color:transparent;
}

header{
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    transition: all 0.5s ease 0s;
    z-index: 1;

}

a{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


.logo{
    cursor: pointer;
    color: black;
    font-size: 19px;

}

.logo a{
    color: black !important;
    text-decoration: none !important;
}

.logo a:link{
    color: black !important;
    text-decoration: none !important;
}

.logo a:active{
    color: black !important;
    text-decoration: none !important;
}

.logo a:hover{
    color: black !important;
    text-decoration: none !important;
}

.logo a:visited{
    color: black !important;
    text-decoration: none !important;
}

.nav__links {
    list-style: none;
    margin-top: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.nav__links li {
    display:inline-block;
    padding: 0 20px;

}

.nav__links li a{
    transition: all 0.2s ease-in 0s;
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

.nav__links li a:hover{
    opacity: 1;
    font-size:18px
}

.aboutbtn{
    border: 2px solid transparent !important;
    border-radius: 30px !important;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease 0s;
    color:black !important;
    text-decoration: none !important;
}

.aboutbtn span{
    display: block;
    padding: 8px 22px;
}


.aboutbtn:hover {

    background-color: rgba(0, 117, 146, 0.8);

}

.frontimage {

    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    
  
    /* Positioning */
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    transform: scale(1.1); 

  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index:0;

  }

#fronttext{
    position: absolute;
    text-align:right;
    padding: 25px 50px 25px 50px;
    top:50%;
    left: 70%;
    width: 50%;
    transform: translate(-50%, -50%);
    filter:none;
    z-index:1;
    font-family: 'open sans';
    color:black;
    z-index: 0;
}

.app-text{
    float: right;
}

.app-text h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    margin-left: 40px;
}

.app-text p{
    font-size: 1.5rem;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
    font-family:'Times New Roman', Times, serif;
}

.play-btn{
    margin-left: 40px;
    display: inline-flex;
}

.play-btn-inner{
    width: 50px;
    height: 50px;
    border: 2px solid transparent !important;
    border-radius: 30px !important;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8) !important;
    background-origin: border-box !important;
    background-clip: content-box, border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease 0s;
    color:#edf0f1 !important;
    text-decoration: none !important;
}

.play-btn-inner .fa-play{
    width: 100%;
    height: 100%;
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}

.social-icons{
    right: 5%;
    bottom: 5%;
    display: flex;
    position: absolute;
    transition: all 300ms ease 0s;
}

.social-icons ul li{
    list-style:none;
    margin-top: 15px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #999;
}



.social-icons .svg-inline--fa{
    height: 75%;
    width: 70%;
}

.rightFade{
    opacity: 0;
    transform: translateX(50%); 
    transition: opacity 400ms ease-in, transform 500ms ease-in;
}

.leftFade{
    opacity: 0;
    transform: translateX(-50%); 
    transition: opacity 400ms ease-in, transform 500ms ease-in;
}

.leftFade.appear, .rightFade.appear{
    transform: translateX(0);
    opacity: 1;
}


#scrolled_navbar{
    position: fixed;
    background-color:#A3CEED;
    top: 0%;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    opacity: 1;
    transition: all 300ms ease-in 0s;
    z-index: 2;
}

#scrolled_navbar.disappear{
    opacity: 0;
}

.gitprofile{
    position: relative;
    text-align:center;
    margin: 50px;
    padding: 50px;
    opacity: 1;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;

}


.fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear{
    opacity:1;
}

.Ojas{
    border-style:solid;
    border-width: 10px;
    width: 75%;
    font-size: 6em;
    font-family:'Times New Roman', Times, serif;
}

.creator{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bio{
    font-family: 'Times New Roman', Times, serif;
}

.line{
    border-style: solid;
    width: 100%;
    border-width: 10px;
}

.frontimagedivider{
    height: 30px !important;
    fill:black !important;
    opacity: 1 !important;
    position: relative;
    width: 100%;
    top: 30px !important;
}

#skillsdivider{
    height: 15px;
    fill:black !important;
    opacity: 1 !important;
    position: relative;
    width: 25%;
    border-radius: 10px;
}

.skills{
    border: #000 solid 3px;
    font-size: 1.5em;
    font-family: 'Krona One', sans-serif;
    padding: 15px 15px 15px 15px
}

.progressImages{
    position: relative;
    height:50%;
    width: 100%;
}

.dashed{
    border: dashed 5px #41403e;
    align-self: center;
	 background: transparent;
	 padding: 1rem 1rem;
	 margin: 0 1rem;
	 transition: all 0.5s ease;
	 color: #41403e;
	 font-size: 2rem;
	 letter-spacing: 1px;
	 outline: none;
	 box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, .2);
	 border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.dashed:hover{
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

.footer{
    background-color:#000;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 40px 50px 25px 50px;
    font-family: Times;
    color:#edf0f1 !important;
}

.footer a{
    color: white !important;
}

.OjasCreate{
    color: #888;
    position: absolute;
    top: 90%;
    left: 10%;
}

.list{
    float: left;
}

.about{
    margin-left: -30%;
    text-align: left;
}

.non-about{
    margin-left: -30%;
    text-align: left;
}

.non-about li{
    color: black;
    list-style-type: '❌';
    font-size: 25px;
}

.about li{
    color: black;
    list-style-type: '✔';
    font-size: 25px;
    
}

.about li:hover{
    list-style-type: '🤯';
}

.non-about li:hover{
    list-style-type: '☹';
}

.chair img{
    position: absolute;
    z-index: -1;
    top: 25%;
    left: 50%;
    height: 75%;
}


.hell{
    font-size: 75px;
    animation: moving 6s linear infinite;
    position: absolute;
    width: 1px;
}

@keyframes moving{
    0%{
        left:-1300px;
    }

    100%{
        left: 100%;
    }
}

.contact{
    border: dashed 5px #41403e;
    align-self: center;
	 background: transparent;
	 padding: 1rem 1rem;
	 margin: 0 1rem;
	 transition: all 0.5s ease;
	 color: #41403e;
	 font-size: 2rem;
	 letter-spacing: 1px;
	 outline: none;
	 box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, .2);
	 border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    height: 50vh;
    font-family: 'Itim', cursive;
}

.lined.thick {
    border: solid 7px #41403e;
}

.lined.thick:hover {
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

.lined.thick{
    align-self: center;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0 1rem;
    transition: all 0.5s ease;
    color: #41403e;
    font-size: 2rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.contact:hover{
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);
}

.group{
    display: flex;
    position: relative;
    
}

.group svg{
    width: 75px;
    height: 100px;
}

#email{
    margin-left: 500px;
    margin-top: 50px;
}

#discord{
    margin-left: 1000px;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

.githubbtn{
    display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
  font-family:"Roboto", sans-serif;
  font-size:14px;
  color:#666666;
}

.button {
    position: relative;
    padding: 0;
    width: 400px;
    height: 200px;
    border: 4px solid #888;
    outline: none;
    background-color: #f4f5f6;
    border-radius: 40px;
    box-shadow: -6px -20px 35px #fff, -6px -10px 15px #fff, -20px 0px 30px #fff, 6px 20px 25px rgba(0, 0, 0, 0.2);
    transition: 0.13s ease-in-out;
    cursor: pointer;
}
.button:active {
    box-shadow: none;
}
.button:active .button__content {
    box-shadow: none;
}
.button:active .button__content .button__text, .button:active .button__content .button__icon {
    transform: translate3d(0px, 0px, 0px);
}
.button__content {
    position: relative;
    display: grid;
    padding: 20px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: inset 0px -8px 0px #ddd, 0px -8px 0px #f4f5f6;
    border-radius: 40px;
    transition: 0.13s ease-in-out;
    z-index: 1;
}
.button__icon {
    position: relative;
    display: flex;
    transform: translate3d(0px, -4px, 0px);
    grid-column: 4;
    align-self: start;
    justify-self: end;
    width: 32px;
    height: 32px;
    transition: 0.13s ease-in-out;
}
.button__icon svg {
    width: 32px;
    height: 32px;
    fill: #aaa;
}
.button__text {
    position: relative;
    transform: translate3d(0px, -4px, 0px);
    margin: 0;
    align-self: end;
    grid-column: 0.2;
    grid-row: 2;
    text-align: center;
    font-size: 32px;
    background-color: #888;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 0.13s ease-in-out;
}
.credits {
    margin-top: 24px;
}
.credits__reference {
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: #09f;
    text-decoration: none;
    transition: ease-in 0.13s;
}
.credits__reference:hover {
    border-bottom-color: #09f;
}

.websiteProject{
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
}

.websiteProject h1{
    font-weight: 1000;
    font-size: 5rem;
    width: 20%;
}

.websiteProject p{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    font-weight: 200;
    font-size: 20px;
    line-height: 2.6;
}

.websiteProject > div{
    position: relative;
    left: 10%;
}

.websiteProject .button{
    width: 200px;
    height: 200px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

.services{
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
}

.fab{
    font-size: 70px;
    margin: 15px 0;
}

.content> *{
    flex: 1 1 100%;
}

.content h2{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.content p{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.content a{
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
}

.content:hover{
    color: white;
    border-color: #888;
    background: #888;
}

.content:hover a{
    color: black;
    border-color: white;
    background: white;
}

.content 

.content a:hover{
    border-radius: 4px;
}

@media(max-width: 900px){
    .services{
        display: flex;
        flex-direction: column;
    }
}

.cards {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.cards h1{
    font-size: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}



.fa-bars{
    width: 50px;
    height: 50px;
    top: 5%;
    left: 10%;
    z-index: 2;
    position: absolute;
}

.phones{
    width:100%;
    position: absolute;
    z-index: 3;
    height: 100vh;
    background-color: aliceblue;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#cross-btn:hover{
    cursor: pointer;
}

.openMenu{
    display: none;
}

.openMenu:hover{
    cursor: pointer;
}

.phoneNav{
    text-align: center;
    align-self: center;
}

.phoneNav ul{
    line-height: 45px;
}

.phoneNav a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    
}

.fa-times-circle{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.phoneNav li{
    padding: 25px 10px 25px 10px;
    border: black solid 3px;
}



@media (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    #navbar{
        display: none;
    }
    .app-text{
        text-align: left;
        margin-right: 100px;
    }
    .app-text h1{
        font-size: 30px;
    }
    .app-text p{
        font-size: 14px;
    }
    #fronttext{
        width: 100%;
    }
    .openMenu{
        display: block;
    }
    #scrolled_navbar{
        display: none;
    }
    .button{
        height: 100px;
        width: 200px;
    }
    .button__text{
        font-size: 10px;
        content: "GITHUB";
    }
    .websiteProject h1{
        font-size: 50px;
    }
    .websiteProject{
        margin: 10px;
    }
    .websiteProject .button{
        width: 100px;
        height: 100px;
        left: 100%;
    }
    .websiteProject p{
        line-height: 2;
        font-size: 15px;
        font-weight: 300;
    }
    .footer{
        display: none;
    }

}

