body {
    padding: 20px;
    background-color: #ececec;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
 .controls {
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
	 background: #ececec;
}

 body .button {
	 width: 300px;
	 height: 100px;
	 background: #f3f0f1;
	 position: relative;
	 background: #f3f0f1;
	 margin-bottom: 25px;
	 border-radius: 32px;
	 text-align: center;
	 cursor: pointer;
	 transition: all 0.5s ease-in-out;
     border-width: 5px;
}

#id{
    font-size: 32px !important;
}

 body .button span {
	 line-height: 100px;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 32px !important;
}
 body .button {
	 color: #6f6cde;
}
 body .button:hover {
	 border-style: dashed;
     border-color: #000000;
}


#gridContainer {
    padding-bottom: 10px;
    border:#000000 10px;
}

table {
    background-color: rgb(211, 210, 210);
    border-spacing: 0;
}

td {
    border: 1px solid #F1F5DA;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

span {
    color: #222;
}


td.dead {
    background-color: transparent;
}

td.live {
    background-color: #000000;
    border-radius: 10px;
}

.article-snippet p{
    margin-left: 5%;
    margin-right: 5%;
}

