body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ececec;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
 .controls {
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
	 background: #ececec;
}

 body .button {
	 width: 300px;
	 height: 100px;
	 background: #f3f0f1;
	 position: relative;
	 background: #f3f0f1;
	 margin-bottom: 25px;
	 border-radius: 32px;
	 text-align: center;
	 cursor: pointer;
	 transition: all 0.5s ease-in-out;
     border-width: 5px;
}

#id{
    font-size: 32px !important;
}

 body .button span {
	 line-height: 100px;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 32px !important;
}
 body .button {
	 color: #6f6cde;
}
 body .button:hover {
	 border-style: dashed;
     border-color: #000000;
}


#gridContainer {
    
    padding-bottom: 10px;
    border:#000000 10px;
}

table {
    background-color: rgb(211, 210, 210);
    border-spacing: 0;
}

td {
    border: 1px solid #F1F5DA;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

span {
    color: #222;
}


td.dead {
    background-color: transparent;
}

td.live {
    background-color: #000000;
    border-radius: 10px;
}

.article-snippet p{
    margin-left: 5%;
    margin-right: 5%;
}

/* unvisited link */
a:link {
    color: #03a1fc;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #03a1fc;
    text-decoration: none;
    color: #03a1fc;
  }
  
  /* mouse over link */
  a:hover {
    color: #03a1fc;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #03a1fc;
    text-decoration: none;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  

.main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    font-family: 'Montserrat', monospace;
    background-image: url('https://miro.medium.com/max/960/1*1Bm-25IS8YlJ8oG6mMKRzQ.gif');
}

.text{
    border-radius: 50px;
    padding: 50px 50px 50px 50px;
    background-color: rgba(255,255,255,0.8);
    color: black;
}

.text li{

    font-size: 18px;
}

.text p{
    text-align: justify;
    line-height: 35px;
    font-weight: 200;
    font-size: 18px;
}

.text h2{
    text-align: center;
    font-weight: 1000;
    font-size: 35px;
}
