body{
    background-color: #000;
    overflow: hidden;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: #ececec;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

.notStarted{
    background-color: #06A062;

    height: 800px;
    width: 1000px;

    border: solid #000 3px;
    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -400px;

    text-align: center;
}

.orange{
    height: 25px;
    width: 100%;

    background-color: orange;

    border-top: solid #000 3px;
    border-bottom: solid #000 3px;
}

.text{
    height: 640px;
    width: 800px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -400px;

    background-color: #fff;

    border-radius: 10px;
    border: solid #000 3px;
}
