@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


body{
    background-color: #b8b8b8;
    padding: 50px 50px 50px 50px;
    /* text-align: center; */
}

h1{
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    font-weight: 500;
}

div{
    position: absolute;
    top: 10%;
}

button {
    padding: 10px 25px;
    font-size: 30px;
    font-family: 'Fira Code', monospace;
    font-weight: 1000;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
  button {
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    color: black;
    left: 40%;

    width: 250px;
    height: 100px;
  }
  
  button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
  }
  
  button:hover {
    color: rgb(255, 255, 255);
  }
  
  button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  button:active {
    top: 2px;
  }

/* .btn{
    position: absolute;
    left: 40%;

    width: 250px;
    height: 100px;
} */


input{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    box-shadow: none;
    border: solid 2px;
    /* border-color: #0277bd; */
    border-color: black;
    background-color: #ececec;
    padding: 10px 25px;
    font-size: 30px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
}